@charset "UTF-8";
/* color */
.button-group {
  font-size: 0; }
  .button-group.ctr {
    text-align: center; }
  .button-group.rgt {
    text-align: right; }

/* 담기 */
.btn-add-to {
  overflow: hidden;
  position: relative;
  border: 0;
  color: #fff;
  background-color: #418ded;
  vertical-align: middle;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .btn-add-to:before {
    font-family: 'ppingkr_v4' !important;
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    color: #fff; }
  .btn-add-to span {
    opacity: 0;
    position: absolute;
    right: -9999px;
    top: 0;
    bottom: 0;
    padding: 0 5px;
    background: #418ded;
    text-align: left;
    white-space: nowrap; }
    .btn-add-to span:before {
      margin-right: 5px; }
    .btn-add-to span:before {
      font-family: 'ppingkr_v4' !important;
      speak: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: icon-out; }
  .btn-add-to:hover {
    overflow: visible; }
    .btn-add-to:hover span {
      opacity: 1;
      right: 0; }
